<h1>{{hero.nombre | uppercase}} <small>{{hero.aparicion | date: 'y'}}</small></h1>
<hr>
<div class="row">
    <div class="col-4">
        <img [src]="hero.img" class="img-fluid" alt="">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger">Regresar</a>
    </div>
    <div class="col-8">
        <h3>{{hero.nombre}}</h3>
        <hr>
        <p>
            {{hero.bio}}
        </p>
        <div class="row">
            <img [src]="hero.casa=='DC'? 'assets/img/dc.png':'assets/img/mv.png'" class="img-fluid image-jc" alt="">
        </div>
    </div>

</div>